MYGES_AUTH_BASE_URL=https://authentication.kordis.fr/oauth
MYGES_API_BASE_URL=https://api.kordis.fr
MYGES_PLANNING_PATH=/me/agenda
MYGES_GRADES_PATH=/me/{year}/grades
MYGES_ABSENCES_PATH=/me/{year}/absences
MYGES_SUPPORTS_PATH=/me/{year}/courses
MYGES_DOWNLOAD_BASE_URL=https://ges-dl.kordis.fr
MYGES_CLIENT_ID=skolae-app
# En production, utilisez une longue valeur aléatoire
SESSION_SECRET=change-me
